.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#EDF2F4;
}

div.content {
  width: 40vw;
  height: 70vh;
  background-color: #8d99ae;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
}

.button{
  width: 48px;
  height: 48px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #2b2d42 ;
  position: absolute;
  right: 10%;
  bottom: 40;
}

.button button{
  border: none;
  background-color: transparent;
}

.button button svg{
  width: 100%;
  height: 100%;
}